// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-top: 50px
}

.alert {
  font-size: medium;
}

#dropdown-sort {
  width: 100px;
}

.dropdown-item {
  cursor: pointer;
}